<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModuleTestV8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModuleTestV8.Properties.Settings>
            <setting name="gdDisable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a2Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a3Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a4Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b1Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b2Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b3Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b4Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a1Disable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="a1ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="a2ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="a3ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="a4ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="b1ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="b2ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="b3ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="b4ComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="gdComPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="a1GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a2GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a3GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a4GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b1GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b2GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b3GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b4GlSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a1GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a2GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a3GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a4GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b1GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b2GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b3GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b4GpSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a1BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a2BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a3BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a4BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b1BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b2BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b3BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b4BdSnrOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TesterNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="FixtureNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </ModuleTestV8.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
